
@import url('https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css');
/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');




.post-card{
	/*background: #2A2E35;*/
	/*background: #2C303A;*/
	background: #22384E;
   
	border-radius:	4px!important; 
	    margin: 0 8px 40px 8px!important;
    padding: 20px!important;
}


.post-card:hover{
	transform: translateY(-3px);
	transition: transform .3s;
	
}

a.post-card-image-link:hover{
	
	text-decoration: none!important;
}

body h1, body h2{
	font-weight: 500;
	
	
}


body{
	font-family: 'Source Sans Pro', sans-serif;

	color: #c7c9d3;
}

strong, b{
	font-weight: 600!important;
}

.post-full-header .post-full-custom-excerpt{
	font-weight: 400;
}
.post-full-header .post-full-tags{
	font-size: 15px;
}


.post-full-content{
padding: 0 0px 6vw!important;
}


.post-full-tags{
	font-weight: 500!important;

}




.post-full-header .post-full-title{

	
	padding: 1.25rem 0 0.5rem 0;
}

.post-full-header .post-full-byline{

	border-bottom: 2px dotted rgba(31,54,77,.6);
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(31, 54, 77, 0.6);
    border-top: 3px dotted #1f364d;
    border-top-width: 3px;
    border-top-style: dotted;
	border-top-color: rgb(31, 54, 77);
	
	padding: 1.35rem 0;
}


.post-full-byline-meta{
	margin: auto 0!important;
}
.post-full-byline-meta a{
color: #fff;
font-size: 16px;
font-weight: 600!important;
text-transform: lowercase;
}
.post-full-header .post-full-title{
	font-weight: 600!important;
}
time.byline-meta-date {
    font-weight: 600;
}

.post-sidebar__right{
padding: 1rem 2rem;
position: sticky;
top: 8rem;
}

.post-sidebar__right a{

	text-transform: uppercase;
	color: #63809c;
	font-weight: 600!important;

}


.post-sidebar__right a:hover{
	color: #fff;
	text-decoration: none;

}

.author-avatar:hover{
	border: 2px solid #fff;

}

/*
.site-archive-header{
	background-color: #1F364D;

}
*/
.site-header-content{
	background: #1F364D;
	margin: 9rem auto 0!important;
	width: 100%;
	padding: 1vw 0 6vw 0;
	align-items: stretch;
	border-bottom: 0px!important;
	border-radius: 4px;
}
.css-wumela-outer-SiteNavMain-Author{
	background: #0E2439!important;
}

/*
.site-header-background, header.site-archive-header, .css-wumela-outer-SiteNavMain-Author {
	background: #1F364D!important;
}
*/	
.site-author-header, .author-header-background {
	background: #1F364D!important;
}

.site-tags-header, .author-tags-background {
	background: #1F364D!important;
}

.author-header-content h1.site-title{
font-size: 36px;
margin-bottom: 1rem;
color: #fff;
}

.author-header-content h2.author-bio{
	color: #9cb3c9!important;
	}

	p.post-footer-content{
		font-size: 21px;
		line-height: 36px;
	}

	p.post-footer-content a{
		color: #fff;
	}

	.author-forward{
		padding: 10px;
		background: #22384D;
		border-radius: 3px;
	}

.social-share .react-sharing-button__icon{
	height: 1.35em;
	width: 1.35em;
	line-height: 1.35em;
}

	.react-sharing-button__text{
		display: none;
	}
	.react-sharing-button__link{
		background-color: transparent!important;
		border-radius: 2px;
		padding: 4px!important;
		opacity: 0.6;
	}

	.react-sharing-button__link:hover{
		background-image: linear-gradient(to right,#e052a0,#f15c41);
		border-radius: 50%;
		padding: 4px!important;
		opacity: 1;
	}


.social-share{

margin-top: 11.5rem;
position: sticky;

top: 11.5rem;
}


/*
a.HTML:before{
	content:"dd";
	background-image: url("https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/184/full/html5.png");
	color: transparent;	
	background-size: 16px 16px;
	background-repeat: no-repeat;

}

*/

.author-wrapper_posts{
	width: 100%;
	z-index: 100;
	padding: 0 8vw;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .author-wrapper_posts{

	padding: 0;
}
  
}

.css-2hkb68-SiteMain-outer-Author{
	padding: 0!important;
}

.author-follow-wrapper{
	width: 100%;	
}

.author-follow-wrapper .author-follow-button{
	display: block;
    padding: 15px 34px!important;
    margin: 0 0 20px 0px!important;
    border: #fff 0px solid;
    color: #fff;
    line-height: 1;
    border-radius: 2px;
    opacity: 1;
    background-image: linear-gradient(to right,#e052a0,#f15c41);
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    text-transform: uppercase;
    font-weight: 600;
	font-size: 14px;
	
	width: 100%;
	text-align: center;
	
	
}

.author-follow-button a{
	color: #fff;
}

.author-follow-wrapper .author-follow-button:hover{
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);
	text-decoration: none;
}

.donate-button{
	
    display: block;
    padding: 10px 10px;
    margin: 0 0 0 10px;
    border: #fff 0px solid;
    color: #fff;
    line-height: 1;
    border-radius: 2px;
    opacity: 1;
	box-shadow: inset 0 0 0 2px #274562;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
	height: 34px;
	
	
}
.donate-button:hover{
	
	background-image: linear-gradient(to right,#3ec7e0,#526bf4);
	text-decoration: none;
	box-shadow: 0 0 20px rgba(0,0,0,.25);
	
}


.tag-list{
	align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
	
	justify-content: left;
}
.tag-button{
	
    display: flex;
    padding: 10px 10px;
    margin: 4px 4px;
    border: #fff 0px solid;
    color: #fff;
    line-height: 1;
    border-radius: 2px;
    opacity: 1;
	box-shadow: inset 0 0 0 2px #274562;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
	height: 34px;
	min-width: 68px;
	justify-content: center;
	
	
	
	
}
.tag-button:hover{
	
	background-image: linear-gradient(to right,#3ec7e0,#526bf4);
	text-decoration: none;
	box-shadow: 0 0 20px rgba(0,0,0,.25);
	
}

.author-follow-button:hover a{
	text-decoration: none;
}

.tag-header-content{
	
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px 0 0 30px;
}



.author-card_summary{
	background-color: #274059;
	border-radius: 3px;
	padding: 16px;
	margin: -6rem 0rem 0 0;
	z-index: 1000!important;
	width: 87.5%;

}

.author-card_summary .author-stats{
	font-size: 20px;
}

.site-archive-header .css-l5cn0z-outer-SiteNavMain-Author{
	background: #1F364D;
}

.css-1jo8w8x-SiteMain-outer-Author{
	padding: 0 2vw!important;
}

.author-title{
	
	font-size: 26px!important;
	color: #fff;
}
.tag-title{
font-size: 26px!important;
margin-bottom: 1rem!important;

}

.tag-description{
color: #9cb3c9!important;	
}

img.tag-avatar{
	box-shadow: 0 0 0 6px hsla(0,0%,100%,0.04);
    background: #0E2439;
	
	    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    margin: 0;

    border: none;
    z-index: 10;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 128px;
    height: 128px;
    border-radius: 100%;
}
.tag-header{
	display: flex!important;
	flex-direction: row!important;
	justify-content: left!important;
	padding: 36px 24px 36px 36px!important;
}

.tag-header-content{
	width: fit-content;
}

.sitenavmain-tags{
	background: #0E2439!important;
	
}
	

.author-sidebar_right{
	position: sticky;
    top: 7rem;
}



@media (min-width: 1281px) {
  
  .author-main-wrapper, .tag-main-wrapper{
	padding: 0 0.8vw!important;
}
  
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
 .author-main-wrapper, .tag-main-wrapper{
	padding: 0 0.8vw!important;
}
  
}