.about-header-background.site-header-background{
		background: #1f364d;
		padding-top: 12rem;
		display: flex;
		justify-content: center;

	}
	
	
.about-header{
	
		.about-bio{
		font-size: 40px!important;
		line-height: 1.5;
		color: #fff;
		font-weight: 600;
		margin-bottom: 0.85rem;
		}
	}